
        /* Basic styling */
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }
        header {
            /* height: 25vh; */
            background-color: palegreen;
            color: #fff;
            text-align: center;
            padding: 1rem;
        }
        h1{
            font-family: "Foldit",serif;
            font-weight: bolder;
        }
        nav {
            display: flex;
            justify-content: center;
            background-color: palevioletred;
            height: 45px;
        }
        nav ul{
            list-style: none;
        }
        nav ul li{
            display: inline-block;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 1rem;
            padding: 5px;
        }
    
        footer {
            text-align: center;
            padding: 1rem;
            background-color: #333;
            color: #fff;
        }
        .language-selector {
            display: inline-block;
            margin-left: 20px;
        }
        .language-selector select {
            padding: 5px;
            font-size: 14px;
        }
        #checkbtn{
            font-size: 20px;
            color: white;
            width: 20px;
            display: none;
            cursor: pointer;
        }
        #check{
            display: none;
        }
        #check:checked ~ ul{
            left: 0;
        }
        nav ul li a:hover{
            background-color: white;
            color: black;
            border-radius: 2px;
        }
        @media(max-width: 690px){
            #checkbtn{
                display: block;
                margin-left: 10px;
                padding-top: 10px;
            }
            nav {
                display:block;
            }
            nav ul{
                height: 100vh;
                width: 100%;
                background-color: palevioletred;
                position: fixed;               
                left: 100%;
                transition: 1.5s;
                
            }
            nav ul li{
                display: block;
                text-align: center;
                padding-top: 25px;
             
            }
            header{
                width: 100%;
            }
        }

