
        /* Basic styling */
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1rem;
        }
        nav {
            display: flex;
            justify-content: center;
            background-color: #864024;
            height: 45px;
        }
        nav ul{
            list-style: none;
        }
        nav ul li{
            display: inline-block;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 1rem;
            padding: 5px;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 2rem;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        footer {
            text-align: center;
            padding: 1rem;
            background-color: #333;
            color: #fff;
        }
        .language-selector {
            display: inline-block;
            margin-left: 20px;
        }
        .language-selector select {
            padding: 5px;
            font-size: 14px;
        }
        #checkbtn{
            font-size: 20px;
            color: white;
            display: none;
            cursor: pointer;
        }
        #check{
            display: none;
        }
        #check:checked ~ ul{
            left: 0;
        }
        nav ul li a:hover{
            background-color: white;
            color: black;
            border-radius: 2px;
        }
        @media(max-width:767px){
            #checkbtn{
                display: block;
                margin-left: 10px;
                padding-top: 5px;
            }
            nav {
                display: block;
            }
            nav ul{
                height: 100vh;
                width: 100%;
                background-color: #864024;
                position: fixed;
                top: 185px;
                left: -100%;
                transition: .5s;
            
            }
            nav ul li{
                display: block;
                text-align: center;
                padding-top: 30px;
                margin-left: -85px;
            }
            header{
                width: 100%;
            }
        }